@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using QLKHO.Models
@using System.Globalization
@model QLKHO.Areas.PhieuNhaps.Controllers.PhieuNhapController.InputDetails
@{
    ViewData["title"] = "Chi tiết Phiếu Nhập";
    var i = 1;
}
<div>
        <h2 class="text-center">Phiếu Nhập</h2>
        <div class="row">
            <div class="col-sm-6">
                <p>Mã Phiếu: @Model.MaPN.</p>
                <p>Ngày Lập: @String.Format("{0:dd/MM/yyyy}", Model.phieuNhap.NgayLap).</p>
                <p>Tổng số lượng: @Model.phieuNhap.TongSoLuong.</p>
            </div>
            <div class="col-sm-6">
                @if(Model.user != null)
                {
                    <p>Người Lập: @Model.user.UserName - @Model.user.FullName.</p>
                }
                @if(Model.nhaCungCap != null)
                {
                    <p>Nhà cung cấp: @Model.nhaCungCap.TenNcc</p>
                }
                <p>Tổng Tiền: @Model.phieuNhap.TongTien.ToString("C", new CultureInfo("vi-VN"))</p>
            </div>
        </div>
        <div style="max-height: 800px" class="overflow-auto">
            <table style="min-width: 600px" class="table table-bordered">
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Mã Sản Phẩm</td>
                        <td>Tên Sản Phẩm</td>
                        <td>Hình ảnh</td>
                        <td>Số Lượng</td>
                        <td>Đơn Giá</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.sp_ctpn)
                    {
                        <tr>
                            <td>
                                @i
                                @{i++;}
                            </td>
                            <td>@item.MaSp</td>
                            <td>@item.TenSp</td>
                            <td>
                                <img class="img-thumbnail" style="width:100px; height:80px; object-fit:cover" src="~/Upload/PhotoSanPham/@item.Photo">
                            </td>
                            <td>@item.Soluong</td>
                            <td>@item.DonGia.ToString("C", new CultureInfo("vi-VN"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    <div class="my-2">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myPhieu">
            Xóa Phiếu Nhập
        </button>

        <!-- The Modal -->
        <div class="modal" id="myPhieu">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Xóa Phiếu Nhập</h4>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal">&times</button>
                    </div>
                    <form asp-action="Delete" method="post" asp-route-id="@Model.MaPN">
                        <div class="modal-body">
                            <h3 class="text-center">Bạn có muốn xóa phiếu nhập có mã @Model.MaPN ?</h3>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Xóa</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                    <!-- Modal body -->
                </div>
            </div>
        </div>
    </div>
    <div class="my-2">
        <a class="btn btn-primary" asp-action="Index">Quay lại danh sách</a>
    </div>
    <div class="my-2">
        <button id="btnPdf" class="btn btn-danger">In PDF</button>
    </div>
</div>
<div id="pdfContainer" class="d-none" >
    <h2>Phiếu Nhập</h2>
    <div>
        <div>
            <p>Mã Phiếu: @Model.MaPN.</p>
            <p>Ngày Lập: @String.Format("{0:dd/MM/yyyy}", Model.phieuNhap.NgayLap).</p>
            <p>Tổng số lượng: @Model.phieuNhap.TongSoLuong.</p>
        </div>
        <div>
            @if (Model.user != null)
            {
                <p>Người Lập: @Model.user.UserName - @Model.user.FullName.</p>
            }
            @if (Model.nhaCungCap != null)
            {
                <p>Nhà cung cấp: @Model.nhaCungCap.TenNcc</p>
            }
            <p>Tổng Tiền: @Model.phieuNhap.TongTien.ToString("C", new CultureInfo("vi-VN"))</p>
        </div>
    </div>
    <div>
        <span>Mã SP  |</span>
        <span>Tên SP |</span>
        <span>Số lượng |</span>
        <span>Đơn Giá</span>
    </div>
    @foreach (var item in Model.sp_ctpn)
    {
        <div>
            <span>@item.MaSp  |</span>
            <span>@item.TenSp |</span>
            <span>@item.Soluong |</span>
            <span>@item.DonGia.ToString("C", new CultureInfo("vi-VN"))</span>
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript">
        $("#btnPdf").click(() => {
            var sHtml = $("#pdfContainer").html();
            sHtml = sHtml.replace(/</g,"StrTag").replace(/>/g,"EndTag");
            window.open("../PhieuNhap/GeneratePdf" + "?html=" + sHtml, '_blank')
        })
    </script>
}