@model QLKHO.Models.NhaCungCap

@{
    ViewData["Title"] = "Delete";
}

<partial name="_AlertMessage" model="@TempData["thongbao"]"></partial>
<h1>Xóa</h1>

<h3>Bạn có muốn xóa nhà cung cấp này không ?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post" asp-route-id="@Model.MaNcc">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
